body {
    font-family: Arial, sans-serif;
    background-color: #0e7a9b;
    background-image: url("https://media.istockphoto.com/id/1299187436/photo/4k-abstract-technology-dotted-digital-wave-background.webp?b=1&s=170667a&w=0&k=20&c=zJrCDEO39HeuLx2QoqdgIW8Ri9Lict3tt7kUlfs1hd8=");
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgb(253, 253, 253);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-weight: bold;
}
